#ourtherapist body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Overpass', sans-serif;
    letter-spacing: 0px;
    font-size: 17px;
    color: #8d8f90;
    font-weight: 400;
    line-height: 32px;
    background-color: #edefef;
}

#ourtherapist .section-title h1,
#ourtherapist .section-title h2,
#ourtherapist .section-title h3,
#ourtherapist .section-title h4,
#ourtherapist .section-title h5,
#ourtherapist .section-title h6 {
    color: rgba(46, 78, 117);
    margin: 0px 0px 10px 0px;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1;
}

#ourtherapist h1 {
    font-size: 34px;
}

#ourtherapist h2 {
    font-size: 28px;
    line-height: 38px;
}

#ourtherapist h3 {
    font-size: 22px;
    line-height: 32px;
}

#ourtherapist h4 {
    font-size: 20px;
}

/* #ourtherapist h5 { font-size: 17px; } */
#ourtherapist h6 {
    font-size: 12px;
}

#ourtherapist p {
    margin: 0 0 20px;
    line-height: 1.7;
}

#ourtherapist p:last-child {
    margin: 0px;
}

#ourtherapist a {
    text-decoration: none;
    color: #8d8f90;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#ourtherapist a:focus,
a:hover {
    text-decoration: none;
}



#ourtherapist .page-header {
    background: url(https://easetemplate.com/free-website-templates/hike/images/pageheader.jpg)no-repeat;
    position: relative;
    background-size: cover;
}

#ourtherapist .page-caption {
    padding-top: 170px;
    padding-bottom: 174px;
}

#ourtherapist .page-title {
    font-size: 46px;
    line-height: 1;
    color: #fff;
    font-weight: 600;
    text-align: center;
}

#ourtherapist .card-section {
    position: relative;
    bottom: 60px;
    text-align: center;
}

#ourtherapist .card-block {
    padding: 80px;
}

#ourtherapist .section-title {
    margin-bottom: 60px;
}


@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

#ourtherapist #team {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(130, 205, 221, 1) 0%, rgb(255, 223, 153) 90%);
}



#ourtherapist section .section-title {
    text-align: center;
    color: rgba(46, 78, 117);
    text-transform: initial;

}


#ourtherapist .card-body {
    text-align: center;
    padding: 10px !important;
}

#ourtherapist img#therapist1 {
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

#ourtherapist .container .row h4.therapistname {
    padding: 18px 0 0 0;
    color: rgba(46, 78, 117);
}

#ourtherapist .container .row h5.therapistedu {
    color: rgba(34, 19, 48);
}

#ourtherapist #search {
    margin-bottom: 20px;
    margin-top: -20px;
}

#ourtherapist input[type='search'] {
    margin: 0 5px 0 0;
    width: 100%;
    height: 38px;

    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

#ourtherapist input[type='search']:focus {
    outline: none;
}

#ourtherapist #searchWord {
    color: rgba(34, 19, 48);
}

#ourtherapist button#searchbtn {
    background-color: darkblue;
    color: white;
    transition: ease 0.5s;
}

#ourtherapist button#searchbtn:hover {
    background-color: rgba(59, 82, 114);
    transition: ease 0.5s;
}

@media only screen and (max-width:414px) {
    #ourtherapist .card-section .card-block {
        padding: 15px;
    }

    #ourtherapist input[type='search'] {
        width: 85%;
    }

    #ourtherapist .container {
        padding-left: 0;
        padding-right: 0;
    }

    #ourtherapist .row {
        margin-right: 0px;
        margin-left: 0px;
    }
}